.AsideDashboard {
  height: 100%;
  width: 10%;
  padding: 10px;
  border-right: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  color: rgb(77, 77, 77);
}

.AsideDashboard div {
  height: 40px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btnAsideDashboardSelected {
  background-color: rgb(233, 233, 233);
}
.btnAsideDashboardSelected:hover {
  cursor: default;
}
.btnAsideDashboardNotSelected {
  background-color: rgb(255, 255, 255);
}
.btnAsideDashboardNotSelected:hover {
  text-shadow: 1px 1px 10px rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.AsideDashboard div p {
  font-size: 18px;
  text-align: center;
}
