.BtnsOptionsHeader {
}

.BtnsOptionsHeader button {
  box-shadow: 4px 4px 4px rgb(78, 85, 82);
  border: none;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 5px;
  margin: 0px 3px;
}
.BtnsOptionsHeader button:hover {
  box-shadow: 3px 3px 2px rgb(78, 85, 82);
  background-color: rgb(212, 240, 213);
  cursor: pointer;
}
.BtnsOptionsHeader .btnAtivo {
  background-color: rgb(186, 252, 169);
}
.BtnsOptionsHeader .btnDesativo {
  background-color: rgb(230, 238, 245);
}
