.BtnsOptionsHeader button {
  border: none;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 5px;
  margin: 0px 3px;
}

.BtnsOptionsHeader .btnAtivo {
  box-shadow: inset 1px 1px 5px rgb(78, 85, 82);
  background-color: rgb(245, 162, 110);
}
.BtnsOptionsHeader .btnAtivo:hover {
  box-shadow: inset 1px 1px 5px rgb(78, 85, 82);
  cursor: default;
}
.BtnsOptionsHeader .btnDesativo {
  background-color: rgb(157, 211, 149);
}
.BtnsOptionsHeader .btnDesativo:hover {
  background-color: rgb(212, 240, 213);
  cursor: pointer;
}
