.VendedorSelected {
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(248, 248, 248);
  padding: 10px;
  border-radius: 10px;
  color: rgb(77, 77, 77);
}

.VendedorSelected div {
  display: flex;
}

.cabeçalhoVendedorDashb {
  padding: 5px 10px;
  margin-bottom: 10px;
}
.cabeçalhoVendedorDashb div {
  font-size: 20px;
  display: flex;
  align-items: center;
}
.cabeçalhoVendedorDashb p {
  width: 70px;
  text-align: center;
}

.dadosVendedorDashb {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.dadosVendedorDashb input {
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
  outline: none;
  border-radius: 6px;
  padding: 5px;
  width: 280px;
  text-align: center;
  font-size: 15px;
}

.dadosVendedorDashb {
  justify-content: space-between;
}

.btnOpçoesVendedorDashb {
  margin: 10px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.btnOpçoesVendedorDashb button {
  color: rgb(77, 77, 77);
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
.iconVendSelected {
  font-size: 20px;
}
.btnOpçoesVendedorDashb button:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}
