.TransaçãoFinalizar {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

.PValorPago,
.PTroco {
  text-align: center;
  background-color: rgb(230, 238, 245);
  border-radius: 5px;
  width: 200px;
  font-size: 30px;
}
.BoxValorPago div {
  background-color: rgb(230, 238, 245);
  display: flex;
  border-radius: 5px;
  width: 200px;
  font-size: 30px;
}
.BoxValorPago {
  text-align: center;
  margin: 10px;
  height: 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.BoxValorPago input {
  text-align: end;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 30px;
  border: none;
  width: 160px;
  outline: none;
}

.BoxTroco {
  margin: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.DTroco {
  text-align: center;
  background-color: rgb(230, 238, 245);
  border-radius: 5px;
  width: 200px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.FinalizarCompra {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: center;
}

.FinalizarCompra button {
  background-color: rgb(230, 238, 245);
  box-shadow: 4px 4px 4px rgb(78, 85, 82);
  border: none;
  padding: 30px 20px;
  font-size: 20px;
  border-radius: 5px;
}
.FinalizarCompra button:hover {
  box-shadow: 3px 3px 2px rgb(78, 85, 82);
  background-color: rgb(212, 240, 213);
  cursor: pointer;
}
