* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  padding: 5px;
  background-image: radial-gradient(rgb(220, 236, 240), rgb(241, 241, 241));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
