* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  padding: 3px;
  background-image: radial-gradient(rgb(220, 236, 240), rgb(120, 134, 133));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
