.VendasBody {
  padding-top: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}
.VendasBodyBox1 {
  background-color: rgb(238, 238, 238);
  height: 88vh;
  width: 48vw;
  border-radius: 5px;
}
.VendasBodyBox2 {
  background-color: rgb(238, 238, 238);
  height: 88vh;
  width: 48vw;
  border-radius: 5px;
}
